.c-date {
  position: relative;
  display: inline-flex;
  align-items: center;

  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;

  &--white {
    color: $white;
  }

  &--has-icon {    
    &:before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      margin-right: 8px;

      background-image: url("data:image/svg+xml, #{svg-replace( $svg-agenda, $white )}");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  
  &--primary {
    font-weight: 400;
    font-size: 14px;
    color: $black;
  }
}