.c-footer {
  overflow: hidden;
  position: relative;

  @include until-tablet {
    &::before {
      content: "";
      position: absolute;
      left: 10%;
      top: 0;
      width: 100%;
      height: 100%;
      background: $footer-gradient;
      z-index: 1;

      @include clip-path("left", 50%);
    }
  }

  &__content,
  &__copyright {
    @include full-grid-with-column-gap;

    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;

    & > * {
      grid-column: main-start / main-end;
    }
  }

  // Footer content
  &__content {
    position: relative;
    font-style: normal;
    color: $white;
    background: $footer-background;
    padding-top: 34px;
    padding-bottom: 50px;

    @include tablet-landscape {
      padding-top: 86px;
      padding-bottom: 74px;
    }
  }

  // Detail content
  &__details {
    display: flex;
    flex-direction: column;
    z-index: 1;

    @include tablet {
      grid-column: main-start / 7;
      padding-right: 42px;
    }
  }

  &__details-logo {
    height: 48px;

    @include tablet {
      height: 78px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  &__details-text {
    margin-top: 12px;
    margin-bottom: 12px;

    @include tablet {
      margin-bottom: 18px;
    }

    p {
      line-height: 1.75;
    }
  }

  // List content
  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 1;
    padding-top: 14px;

    @include tablet {
      z-index: 0;
      grid-column: 7 / main-end;
      justify-content: space-between;
      display: grid;
      grid-template-columns: repeat(2, calc(50% - 68px / 2));
      gap: $gutter 68px;
      padding-top: 20px;

      &::before {
        content: "";
        position: absolute;
        left: auto;
        right: -60px;
        top: 50%;
        width: 125%;
        height: 200%;
        transform: translateY(-50%);
        background: $footer-gradient;
        @include clip-path("left", 124px);
      }

      & > * {
        z-index: 1;
      }
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;
  }

  &__content &__list-item a {
    width: 100%;
    padding: 12px 16px 12px 0;
    font-size: 16px;
    text-decoration: none;
    color: $white;
    border-bottom: 1px solid rgba(197, 226, 238, 0.1);
    position: relative;

    @include on-event {
      text-decoration: underline;
    }

    @include tablet {
      padding: 8px 16px 8px 0;
    }

    svg {
      display: block;
      position: absolute;
      top: 16px;
      right: 0;
    }
  }

  // Copyright content
  &__copyright {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 1;
    background: $background--primary;
  }
}

.c-list-item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include tablet {
    margin-bottom: 0;
  }

  &__title {
    font-size: 16px;
    padding: 8px 0;
    padding-bottom: 16px;
    border-bottom: 3px solid rgba(197, 226, 238, 0.1);
    margin-bottom: 4px;
    font-style: normal;

    @include tablet {
      padding-bottom: 11px;
      margin-right: 18px;
      margin-bottom: 0;
    }
  }
}

.c-copyright {
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-style: normal;
    color: $nile-blue;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
      padding-left: 66px;
      padding-right: 66px;
    }
  }

  &__content a {
    text-decoration: none;
    color: $nile-blue;

    @include on-event {
      text-decoration: underline;
    }
  }
}
