/.env
/.rnd
/.idea
/vendor
.DS_Store
/node_modules
*.iml
.vscode
!/**/.gitkeep

/web/cpresources/*
/web/cache
/web/dist
/web/styleguide

/templates/_dist/head.twig
/templates/_dist/foot.twig

/coverage
yarn-error.log
/logs