<details class="c-details">
    <summary class="c-details__summary">
        <div class="c-details__title">
            {% block summary %}{% endblock %}
        </div>
    </summary>
    <div class="c-details__content">
        {% block details %}{% endblock %}
    </div>
</details>
